@model _20T1020413.DomainModels.Employee
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.EmployeeID)

            <div class="form-group">
                <label class="control-label col-sm-2">Họ đệm:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @style = "color:#f00;" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tên:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00;" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="birthday" value="@string.Format("{0:dd/MM/yyyy}",Model.BirthDate)" />
                    @*@Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(m => m.BirthDate, "", new { @style = "color:#f00;" })
                    @Html.HiddenFor(m => m.BirthDate)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh:</label>
                <div class="col-sm-10">
                    @*<a class="btn  btn-default" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1" href="javascript:;" unselectable="on">
                    <span class="glyphicon glyphicon-picture"></span>
                </a>*@
                    <div style="margin-bottom: 10px;width: 150px;border: 1px solid #ccc;">
                        <img src="~/Photo/@Model.Photo" id="photo" alt="Photo" style="width:150px;">
                    </div>
                    @Html.HiddenFor(m=>m.Photo)
                    <input type="file"  
                           name="uploadPhoto"
                           onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    @*<input type="text" class="form-control" id="Email" name="Email" placeholder="">*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:#f00;" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Ghi chú:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Notes, "", new { @style = "color:#f00;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Lưu dữ liệu</button>
                    <a href="~/Employee" class="btn btn-warning">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

