@model _20T1020413.Web.Models.OrderSearchOutput

@{
    Layout = null;
}
<p style="margin:10px 0 10px 0">
    Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> đơn hàng trong tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>Khách hàng</th>
                <th>Ngày lập</th>

                <th>Nhân viên phụ trách</th>
                <th>Thời điểm duyệt</th>
                <th>Người giao hàng</th>
                <th>Ngày nhận giao hàng</th>
                <th>Thời điểm kết thúc</th>
                <th>Trạng thái</th>
                <th style="width:40px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@(item.OrderTime == null ? " " : item.OrderTime.ToString("dd/MM/yyyy H:mm"))</td>
                    <td>@item.EmployeeFullName</td>
                    <td>@(item.AcceptTime == null ? " " : item.AcceptTime.Value.ToString("dd/MM/yyyy H:mm"))</td>
                    <td>@item.ShipperName</td>
                    <td>@(item.ShippedTime == null ? " " : item.ShippedTime.Value.ToString("dd/MM/yyyy H:mm"))</td>
                    <td>@(item.FinishedTime == null ? " " : item.FinishedTime.Value.ToString("dd/MM/yyyy H:mm"))</td>
                    <td>@item.StatusDescription</td>
                    <td>
                        <a href="~/Order/Details/@item.OrderID" class="btn btn-info btn-xs">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">

        @*@for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="paginate_button active"><a href="#">@i</a></li>
            }
            else
            {
                <li class="paginate_button"><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }*@
        @if (Model.Page > 1)
        {
            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(1)"><i class="ti-angle-double-left"></i></a>
            </li>

            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(@Model.Page - 1)"><i class="ti-angle-left"></i></a>
            </li>
        }
        @if (Model.Page <= 4)
        {
            for (int i = 1; i <= 7 && i <= Model.PageCount; i++)
            {

                if (i == Model.Page)
                {
                    <li class="paginate_button active">
                        <a href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button">
                        <a href="javascript:;" onclick="doSearch(@i)">@i</a>
                    </li>
                }
            }
        }
        else if (Model.Page > 4 && Model.Page <= Model.PageCount - 4)
        {
            for (int i = Model.Page - 3; i <= Model.Page + 3 && i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="paginate_button active">
                        <a href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button">
                        <a href="javascript:;" onclick="doSearch(@i)">@i</a>
                    </li>
                }
            }
        }
        else
        {
            for (int i = Model.PageCount - 6; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="paginate_button active">
                        <a href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button">
                        <a href="javascript:;" onclick="doSearch(@i)">@i</a>
                    </li>
                }
            }
        }
        @if (Model.Page < Model.PageCount)
        {
            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(@Model.Page + 1)"><i class="ti-angle-right"></i></a>
            </li>

            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(@Model.PageCount)"><i class="ti-angle-double-right"></i></a>
            </li>
        }
    </ul>
</div>