@model _20T1020413.Web.Models.CategorySearchOutput

@{
    Layout = null;
}
<p style="margin-left: 5px; margin-top: 10px;">Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> bản ghi trong tổng số <strong>@string.Format("{0:N0}", Model.PageSize)</strong> trang</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tên loại hàng</th>
            <th>Mô tả</th>
            <th>Nguồn gốc</th>
            <th style="width: 120px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.ParentCategoryId</td>
                <td class="text-right">
                    <a href="~/Category/Edit/@item.CategoryID" class="btn btn-success">
                        <i class="glyphicon glyphicon-edit" title="Sửa"></i>
                    </a>
                    <a href="~/Category/Delete/@item.CategoryID" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash" title="Xóa"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>